@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamultra-webfont.eot");
  src: url("fonts/gothamultra-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamultra-webfont.woff") format("woff"), url("fonts/gothamultra-webfont.ttf") format("truetype"), url("fonts/gothamultra-webfont.svg#gothamultraregular") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamultra-italic-webfont.eot");
  src: url("fonts/gothamultra-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamultra-italic-webfont.woff") format("woff"), url("fonts/gothamultra-italic-webfont.ttf") format("truetype"), url("fonts/gothamultra-italic-webfont.svg#gothamultraitalic") format("svg");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamblack-webfont.eot");
  src: url("fonts/gothamblack-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamblack-webfont.woff") format("woff"), url("fonts/gothamblack-webfont.ttf") format("truetype"), url("fonts/gothamblack-webfont.svg#gothamblackregular") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamblack-italic-webfont.eot");
  src: url("fonts/gothamblack-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamblack-italic-webfont.woff") format("woff"), url("fonts/gothamblack-italic-webfont.ttf") format("truetype"), url("fonts/gothamblack-italic-webfont.svg#gothamblackitalic") format("svg");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothambold-webfont.eot");
  src: url("fonts/gothambold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothambold-webfont.woff") format("woff"), url("fonts/gothambold-webfont.ttf") format("truetype"), url("fonts/gothambold-webfont.svg#gothamboldregular") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothambold-italic-webfont.eot");
  src: url("fonts/gothambold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothambold-italic-webfont.woff") format("woff"), url("fonts/gothambold-italic-webfont.ttf") format("truetype"), url("fonts/gothambold-italic-webfont.svg#gothambolditalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothammedium-webfont.eot");
  src: url("fonts/gothammedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothammedium-webfont.woff") format("woff"), url("fonts/gothammedium-webfont.ttf") format("truetype"), url("fonts/gothammedium-webfont.svg#gothammediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothammedium-italic-webfont.eot");
  src: url("fonts/gothammedium-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothammedium-italic-webfont.woff") format("woff"), url("fonts/gothammedium-italic-webfont.ttf") format("truetype"), url("fonts/gothammedium-italic-webfont.svg#gothammediumitalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamlight-webfont.eot");
  src: url("fonts/gothamlight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamlight-webfont.woff") format("woff"), url("fonts/gothamlight-webfont.ttf") format("truetype"), url("fonts/gothamlight-webfont.svg#gothamlightregular") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamlight-italic-webfont.eot");
  src: url("fonts/gothamlight-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamlight-italic-webfont.woff") format("woff"), url("fonts/gothamlight-italic-webfont.ttf") format("truetype"), url("fonts/gothamlight-italic-webfont.svg#gothamlightitalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamthin-webfont.eot");
  src: url("fonts/gothamthin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamthin-webfont.woff") format("woff"), url("fonts/gothamthin-webfont.ttf") format("truetype"), url("fonts/gothamthin-webfont.svg#gothamthinregular") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamthin-italic-webfont.eot");
  src: url("fonts/gothamthin-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamthin-italic-webfont.woff") format("woff"), url("fonts/gothamthin-italic-webfont.ttf") format("truetype"), url("fonts/gothamthin-italic-webfont.svg#gothamthinitalic") format("svg");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamexlight-webfont.eot");
  src: url("fonts/gothamexlight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamexlight-webfont.woff") format("woff"), url("fonts/gothamexlight-webfont.ttf") format("truetype"), url("fonts/gothamexlight-webfont.svg#gothamexlightregular") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamexlight-italic-webfont.eot");
  src: url("fonts/gothamexlight-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamexlight-italic-webfont.woff") format("woff"), url("fonts/gothamexlight-italic-webfont.ttf") format("truetype"), url("fonts/gothamexlight-italic-webfont.svg#gothamexlightitalic") format("svg");
  font-weight: 100;
  font-style: italic; }